.detail-title {
  margin-top: .3rem;
  margin-bottom: .15rem;
  font-size: .17rem;
  font-weight: 500;
  color: rgb(53, 51, 51);
  padding: 0.1rem;
}

.detail-summary {
  margin-top: .2rem;
  font-size: .15rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.1rem;
}

.more-next {
  width: 3.6rem;
  height: 0.05rem;
  border: 1px solid gainsboro;
  background-color: gainsboro;
}

.meta-info {
  height: .2rem;
  color: rgb(0, 0, 0);
  padding: 0.1rem;
  font-weight: 700; 
  font-size: .16rem;
}

